<main> 
  
  <div class="section scrollspy" id="top-section"> 
    <div class="hero">
      <div class="slider fullscreen">
          <ul class="slides">
            <li>
              <img src="/assets/alone-over-city.jpg"> 
              <div class="caption left-align">
                <h3>Just Arrived in a New City?</h3>
                <h5 class="white-text">Don't slink around the shadows. Download VampMap.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/not-alone.jpg"> 
              <div class="caption center-align">
                <h3>Never Face the Sunrise Alone</h3>
                <h5 class="white-text">Know when the sun is rising. Be alerted.</h5>
              </div>
            </li>                      
            <li>
              <img src="/assets/haven2.jpg"> 
              <div class="caption right-align">
                <h3>Always Have a Coffin to Crash In.</h3>
                <h5 class="grey-text text-lighten-3">Access to a library of havens around the city.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/creepy-vamp.jpg"> 
              <div class="caption center-align">
                <h3>Know Where All the Best Blood Banks Are</h3>
                <h5 class="grey-text text-lighten-3">Don't worry about finding safe blood sources - we've done the scouting for you!</h5>
              </div>
            </li>
          </ul>
        </div> <!-- slider -->
    </div> <!-- hero -->
  </div> <!-- top-section -->


  <div class="section scrollspy black" id="map-padding">
    <div id="map-section">

    <div id="map-canvas">
      <div class="loading">Loading&#8230;</div>
    </div>
    </div> <!-- map section -->
  </div> <!-- map padding  -->
</main>
