<main>
	<header>
	<div class="slider">
        <ul class="slides">
          <li>
            <img src="/assets/creepy-vamp.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="/assets/alone-over-city.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="/assets/haven2.jpg"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="/assets/not-alone.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
    </div> 
	</header>
<!--  Parallax Section  -->
	<div class="parallax-container">
      <div class="parallax">
      	<img src="/assets/gargoyle.jpg">
      </div>
    </div>
	<div class="section white"> 
		<div class="row container">
			<h2 class="header"> BLAH </h2>
			<p class="grey-text text-darken-3 lighten-3">
			Blah blah blah </p>
		</div>
	</div>
	<div class="parallax-container">
      <div class="parallax">
      	<img src="/assets/alley.jpg">
      </div>
    </div>
</main>