<main> 
  
  <div class="section scrollspy" id="top-section"> 
    <div class="hero">
      <div class="slider fullscreen">
          <ul class="slides">
            <li>
              <img src="/assets/alone-over-city.jpg"> 
              <div class="caption left-align">
                <h3>Just Arrived in a New City?</h3>
                <h5 class="white-text">Don't slink around the shadows. Download VampMap.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/not-alone.jpg"> 
              <div class="caption center-align">
                <h3>Never Face the Sunrise Alone</h3>
                <h5 class="white-text">Know when the sun is rising. Be alerted.</h5>
              </div>
            </li>                      
            <li>
              <img src="/assets/haven2.jpg"> 
              <div class="caption right-align">
                <h3>Always Have a Coffin to Crash In.</h3>
                <h5 class="grey-text text-lighten-3">Access to a library of havens around the city.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/creepy-vamp.jpg"> 
              <div class="caption center-align">
                <h3>Know Where All the Best Blood Banks Are</h3>
                <h5 class="grey-text text-lighten-3">Don't worry about finding safe blood sources - we've done the scouting for you!</h5>
              </div>
            </li>
          </ul>
        </div> <!-- slider -->
    </div> <!-- hero -->
  </div> <!-- top-section -->


  <div class="section scrollspy black" id="map-padding">
    <div id="map-section">

    

    <div id="map-canvas">
      <div class="loading">Loading&#8230;</div>
    </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>The Fitzpatrick Skin Type</h4> <!-- modal header -->
              <p>
                <h5>Do you know your skin type?</h5> 
            Your skin type is one of the main factors in your risk for skin cancer. There are six skin phototypes, going from very fair (Type I) to the very dark (Type VI). Color and tone vary a lot within each skin type, but it is a useful guide. Certain types of skin are at greater risk for developing sun damage and skin cancer. Individuals with skin types I and II face the highest risk of developing skin cancer, while types V and VI are at the lowest risk.  That is because those with more pigmentation have more natural protection from the sun.  However, people with darker skin can nonetheless get skin cancer. Like light-skinned people, they should be cautious of the sun and have regular examinations by a doctor. </p>

           <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">Skin Type 0</div>
                <div class="collapsible-body"><p>VAMPIRES!!!</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type I</div>
                <div class="collapsible-body"><p>You always burn and never tan in the sun. You are extremely susceptible to skin damage as well as cancers like basal cell carcinoma and squamous cell carcinoma. You are also at very high risk for melanoma, the deadliest type of skin cancer. Generally follow The Skin Cancer Foundation's prevention tips but use a sunscreen with a SPF of 30+ and clothing with a UPF rating of 30 or higher. Seek the shade whenever you are out in the sun. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup.</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type II</div>
                <div class="collapsible-body"><p>You almost always burn and rarely tan in the sun. You are highly susceptible to skin damage as well as cancers like basal cell carcinoma and squamous cell carcinoma. You are also at high risk for melanoma, the deadliest type of skin cancer. Generally follow The Skin Cancer Foundation's prevention tips but also consider using a sunscreen with a SPF of 30+ and clothing with a UPF rating of 30 or higher. Seek the shade whenever you are out in the sun. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup.</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type III</div>
                <div class="collapsible-body"><p>You sometimes burn and sometimes tan in the sun. You are susceptible to skin damage as well as cancers like basal cell carcinoma and squamous cell carcinoma. You are also at risk for melanoma, the deadliest type of skin cancer. Be sure to apply a sunscreen with an SPF of at least 15 every day, wear sun-protective clothing, and seek the shade between 10 AM and 4 PM, when the sun is strongest. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup.</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type IV</div>
                <div class="collapsible-body"><p>You tend to tan easily and are less likely to burn. But you are still at risk; use sunscreen with an SPF of 15+ outside and seek the shade between 10 AM and 4 PM. Follow all other Prevention Tips from The Skin Cancer Foundation as well. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup.</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type V</div>
                <div class="collapsible-body"><p>You tan easily and rarely burn, but you are still at risk. Use sunscreen with an SPF of 15+ and seek the shade between 10 AM and 4 PM. Acral lentiginous melanoma, a very virulent form of the disease, is more common among darker-skinned people. These melanomas tend to appear on parts of the body not often exposed to the sun, and often remain undetected until after the cancer has spread. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup. Keep an eye out for any suspicious growths, especially on the palms, soles of the feet and mucous membranes.</p></div>
              </li>
              <li>
                <div class="collapsible-header">Skin Type VI</div>
                <div class="collapsible-body"><p>Although you do not burn, dark-skinned people are still at risk for skin cancers, and should wear sunscreen with a SPF of 15+ and seek the shade between 10 AM and 4 PM. Acral lentiginous melanoma, a very virulent form of the disease, is more common among darker-skinned people. These melanomas tend to appear on parts of the body not often exposed to the sun, and often remain undetected until after the cancer has spread. Check your skin head-to-toe each month, paying careful attention to any suspicious growths, and make sure you have an annual professional skin checkup. Keep an eye out for any suspicious growths, especially on the palms, soles of the feet and mucous membranes.</p></div>
              </li>
           </ul> <!-- acordion -->
            </div> <!-- modal content -->
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-green btn-flat">Got it!</button>
            </div> <!-- modal footer -->
        </div> <!-- modal type info -->          
    </div> <!-- map section -->
  </div> <!-- map padding  -->
</main>
