<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>VampMap</title>
    <%= csrf_meta_tags %>
    

    <!--Import Google Icon Font-->
      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed main-nav">
      <nav>
        <div class="nav-wrapper">
          
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large menu"><i class="material-icons">menu</i></a>

          <div class="brand-logo center white-text">VampMap</div>

          <img class="sun">
          <div class="white-text tooltipped" data-position="right" data-delay="50" id="sun-text"></div>
            
        </div> <!-- nav-wrapper -->
      </nav>
    </div> <!-- navbar-fixed main-nav -->

          <ul id="slide-out" class="side-nav sheer">
            
            <div class="nav-hello show">
              <li class="hello-vampire">
                <p class="white-text">Hello <span class="adjective"></span> Vampire! Your undead skin type puts you at great risk of disintegrating! 
                  <ul class="sun-avoid grey-text">
                    <li class="sun-list">You must avoid the sun at all costs.</li>
                    <li class="sun-list">The night is your friend!</li>
                    <li class="sun-list">On cloudy days, you may venture outside if you stay in the shade.</li>
                    <li class="sun-list">Avoid garlic.</li>
                    <li class="sun-list">Always have a safe blood source nearby (attacking random bloodbags puts you at risk of contamination.)</li>
                  </ul>
                </p>
              </li>
              <form class="human-form">
                  <a href="#" class="red-text" id="human">Wait a minute! I'm not a vampire...</a>
              </form>
              <li class="hello-human">
                <p class="white-text">Oh, you're not a vampire? How awkward...well then. Hello Human! You might not disintegrate in the sun like our vampire friends, but you're still at risk of sunburn and skin cancer.
                  <ul class="sun-avoid grey-text">
                    <li class="sun-list">Make sure to wear sunscreen, and reapply every two hours or after swimming or perspiring.</li>
                    <li class="sun-list">Pick sunsreens with full-spectrum protection, and an SPF of 15 or higher.</li>
                    <li class="sun-list">Avoid the sun during the peak sun hours between 11am and 4pm, when UV rays are the strongest.</li>
                    <li class="sun-list">Even on cloudy days, UVA rays penetrate the atsmosphere. Wear sunscreen!</li>
                    <li class="sun-list">Even indoors, UVA rays penetrate the glass windows. Wear sunscreen!</li>
                    <li class="sun-list">When in doubt, head for the shade!</li>
                    <li class="sun-list">Don't use indoor tanning beds.</li>
                    <li class="sun-list">There is no such thing as a healthy tan.</li>
                    <li class="sun-list">A tan is a sign of DNA damage.</li>
                    <li class="sun-list">A tan <em>does not</em> offer protection against sunburn. </li>
                    <li class="sun-list">Get your skin checked by a dermatologist yearly.</li>
                  </ul>
                </p>
              </li>
              <form class="vampire-form">
                  <a href="#" class="red-text" id="vampire">Actually, I am a vampire...</a>
              </form>

              <!-- <li class="divider"></li> -->
            </div> <!-- nav-hello -->


          <div class="spacing hide">
            <li><a href="#" class="white-text" id="recenter-vamp"><img src="/assets/vampire-icon-2.png" alt="" class="circle">Current Location</a></li>

            <ul class="js-side-collapsible" data-collapsible="expandable">

                <li id="blood-open">
                  <div class="collapsible-header white-text"><img src="/assets/blood-icon-7.png" alt="" class="circle">Blood Banks</div>
                  <div class="collapsible-body grey-text">
                    
                    <p class="nav-collapse" id="bank-list">
                      <!-- append blood bank list via jQuery --> 
                    </p> <!-- nav-collapse -->

                  </div> <!-- collapsible-body -->
                </li>

                <li id="haven-open">
                  <div class="collapsible-header white-text"><img src="/assets/coffin-icon-4.png" alt="" class="circle">Havens</div>
                  <div class="collapsible-body grey-text">

                      <p class="nav-collapse" id="haven-list"> 
                        <!-- append haven list via jQuery --> 
                      </p> <!-- nav-collapse -->   
                  </div>
                </li>

            </ul> <!-- collapsible -->
              
            <p class="white-text" id="arrivalTime"></p>

            <div id="directionsPanel"></div>
            
            </div> <!-- spacing -->
        </ul> <!-- side-nav -->    
            
    <%= yield %>

    <footer class="page-footer">
            <div class="footer-copyright">
            <div class="container">
            
            <p class="center"> Made with <span class="red-text"> &hearts; </span> and &#9749; at Ironhack. </p>
            </div>
          </div>      
    </footer>

    <script type="text/javascript" src="/assets/jquery.countdown.js"></script>

    <script type="text/javascript" src="/assets/suncalc.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkRsxEjXvaRK9b_NgH96lo2YwE9oiAS8s&libraries=places"></script>

  </body>
</html>
