<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>VampMap</title>
    <%= csrf_meta_tags %>
  

    <!--Import Google Icon Font-->
      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed main-nav">
      <nav>
        <div class="nav-wrapper">
          
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large menu"><i class="material-icons">menu</i></a>

          <div class="brand-logo center white-text">VampMap</div>

          <img class="left sun">
          <div class="left white-text tooltipped" data-position="right" data-delay="50" data-tooltip="Sun will rise in..." id="sun-text"></div>
            
        </div> <!-- nav-wrapper -->
      </nav>
    </div> <!-- navbar-fixed main-nav -->

          <ul id="slide-out" class="side-nav sheer">
          <div class="spacing">
            <li><a href="#" class="white-text" id="recenter-vamp"><img src="/assets/vampire-icon-2.png" alt="" class="circle">Current Location</a></li>

            <ul class="js-side-collapsible" data-collapsible="expandable">

                <li id="blood-open">
                  <div class="collapsible-header white-text"><img src="/assets/blood-icon-7.png" alt="" class="circle">Blood Banks</div>
                  <div class="collapsible-body grey-text">
                    
                    <p class="nav-collapse" id="bank-list">
                      <!-- append blood bank list via jQuery --> 
                    </p> <!-- nav-collapse -->

                  </div> <!-- collapsible-body -->
                </li>

                <li id="haven-open">
                  <div class="collapsible-header white-text"><img src="/assets/coffin-icon-4.png" alt="" class="circle">Havens</div>
                  <div class="collapsible-body grey-text">

                      <p class="nav-collapse" id="haven-list"> 
                        <!-- append haven list via jQuery --> 
                      </p> <!-- nav-collapse -->   
                  </div>
                </li>

            </ul> <!-- collapsible -->
              
            <p class="white-text" id="arrivalTime"></p>

            <div id="directionsPanel"></div>
            
            <li class="divider"></li>

            <div class="nav-hello">
              <li class="hello-vampire">
                <p class="white-text">Hello <span class="adjective"></span> Vampire! Your skin type 0 puts you at great risk of disintegrating! You must avoid the sun at all costs.</p>
              </li>
              <form class="human-form">
                  <a href="#" class="white-text" id="human">Wait a minute! I'm not a vampire...</a>
              </form>
              <li class="hello-human">
                <p class="white-text">Oh, you're not a vampire? How awkward...well then. Hello Human! You might not disintegrate in the sun like our vampire friends, but you're still at risk of sunburn and skin cancer.</p>
              </li>
              <form class="vampire-form">
                  <a href="#" class="white-text" id="vampire">Actually, I am a vampire...</a>
              </form>


              <!-- ! Dropdown Trigger --> 
              <a class='dropdown-button btn-flat' href='#top-section' data-activates='dropdown1'> Select Skin Type</a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content white'>
                <li><a class="btn-flat disabled" href="#!">skin type 0</a></li>
                <li><a class="btn-flat" href="#!">skin type I</a></li>
                <li><a class="btn-flat" href="#!">skin type II</a></li>
                <li><a class="btn-flat" href="#!">skin type III</a></li>
                <li><a class="btn-flat" href="#!">skin type IV</a></li>
                <li><a class="btn-flat" href="#!">skin type V</a></li>
                <li><a class="btn-flat" href="#!">skin type VI</a></li>
                <li class="divider"></li>
                <!-- Modal Trigger -->
                <li><a href="#modal1">About skin types</a></li>
              </ul> 





            </div> <!-- nav-hello -->


      <!--       <li><a href="#!" class="waves-effect waves-red white-text"><i class="material-icons white-text">add</i>Add Haven</a></li>

            <li class="divider"></li> -->

            </div> <!-- spacing -->
        </ul> <!-- side-nav -->    
            
    <%= yield %>

    <footer class="page-footer">
          <div class="container">
            <!-- <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div> -->
          </div>

          <div class="footer-copyright">
            <div class="container">
            <p class="right"> Made with <span class="red-text"> &hearts; </span> and &#9749; at Ironhack. </p>
            </div>
          </div>      
    </footer>

    <script type="text/javascript" src="/assets/jquery.countdown.js"></script>

    <script type="text/javascript" src="/assets/suncalc.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkRsxEjXvaRK9b_NgH96lo2YwE9oiAS8s&libraries=places"></script>

  </body>
</html>
